@model HR_App_V4.Models.DB.WC_Inbox
<script src="~/lib/jquery/dist/jquery.js"></script>
@{
    ViewData["Title"] = "Create";
}

<h4>Workers Compensation Inbox</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="Add_User" value="@User.Identity.Name" />
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">First Name <span style="color: #FF0000">*</span> </label>
                            <input asp-for="First_Name" class="form-control" placeholder="John"/>
                            <span asp-validation-for="First_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Last Name <span style="color: #FF0000">*</span></label>
                            <input asp-for="Last_Name" class="form-control" placeholder="Doe"/>
                            <span asp-validation-for="Last_Name" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" name="Gender" class="form-control" asp-items="@ViewBag.genders"></select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Marital Status</label>
                             <select asp-for="Marital_Status" name="Marital_Status" class="form-control" asp-items="@ViewBag.maritalStatus"></select>
                            <span asp-validation-for="Marital_Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="form-group col-md-12 box">
                        <b class="title">Employee</b>
                        <hr />
                        <p>Enter the employee's personal information</p>
                    </div>
                </div>
            </div>
            <br />
             <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Last 4 of SSN <span style="color: #FF0000">*</span></label>
                    <input asp-for="SSN" class="form-control" placeholder="****"/>
                    <span asp-validation-for="SSN" class="text-danger"></span>
                </div>
                 <div class="form-group col-md-3">
                    <label class="control-label">Home Phone Number</label>
                    <input asp-for="Phone_Number" class="form-control" placeholder="XXX-XXX-XXXX"/>
                    <span asp-validation-for="Phone_Number" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Address" class="control-label">Address <span style="color: #FF0000">*</span></label>
                    <input asp-for="Address" class="form-control" placeholder="1900 Kanawha Blvd E Charleston, WV 25305"/>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Date of Birth <span style="color: #FF0000">*</span></label>
                    <input asp-for="DOB" class="form-control" type="date" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
           </div>

            <br />
            <hr />
            <br />

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Org Number <span style="color: #FF0000">*</span></label>
                            <input asp-for="Org_Number" class="form-control" placeholder="0025"/>
                            <span asp-validation-for="Org_Number" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Hire Date <span style="color: #FF0000">*</span></label>
                            <input asp-for="Hire_Date" class="form-control" type="date"/>
                            <span asp-validation-for="Hire_Date" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Job Title <span style="color: #FF0000">*</span></label>
                            <input asp-for="Job_Title" class="form-control" placeholder="Programmer Analyst"/>
                            <span asp-validation-for="Job_Title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Regular Required Work Schedule (paid hours only) <span style="color: #FF0000">*</span></label>
                            <select asp-for="Work_Schedule" name="Work_Schedule" class="form-control" asp-items="@ViewBag.schedules"></select>
                            <span asp-validation-for="Work_Schedule" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="form-group col-md-12 box">
                        <b class="title">Employment Information</b>
                        <hr />
                        <p>Information Related to the employee's position</p>
                    </div>
                </div>
            </div>

            <br />
            <hr />
            <br />


            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Date of Injury <span style="color: #FF0000">*</span></label>
                            <input asp-for="Injury_Date" class="form-control" type="date"/>
                            <span asp-validation-for="Injury_Date" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Time of Injury <span style="color: #FF0000">*</span></label>
                            <input asp-for="Injury_Time" class="form-control" placeholder="10:00am"/>
                            <span asp-validation-for="Injury_Time" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Type of Injury</label>
                            <input asp-for="Injury_Type" class="form-control" placeholder="Strain / fall / cut / burn / etc.."/>
                            <span asp-validation-for="Injury_Type" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Injury Documented on DOT-12? <span style="color: #FF0000">*</span></label>
                            <select asp-for="DOT_12" name="DOT_12" class="form-control" asp-items="@ViewBag.dot12Options"></select>
                            <span asp-validation-for="DOT_12" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Start Time on Date of Injury <span style="color: #FF0000">*</span></label>
                            <input asp-for="Start_Time" class="form-control" placeholder="7:00am"/>
                            <span asp-validation-for="Start_Time" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="form-group col-md-12 box">
                        <b class="title">Injury</b>
                        <hr />
                        <p>Enter information about the employee's injury</p>
                    </div>
                </div>
            </div>
            <br />
            
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Injured Body Part <span style="color: #FF0000">*</span></label>
                    <input asp-for="Injured_Body_Part" class="form-control" placeholder="Forearm"/>
                    <span asp-validation-for="Injured_Body_Part" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Which Side? <span style="color: #FF0000">*</span></label>
                    <select asp-for="Side" name="Side" class="form-control" asp-items="@ViewBag.sides"></select>
                    <span asp-validation-for="Side" class="text-danger"></span>
                </div>
                <div class="form-group form-check col-md-3">
                    <label class="control-label">Missing Work? <span style="color: #FF0000">*</span></label>
                    <select asp-for="Missing_Work" name="Missing_Work" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="Missing_Work" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Missing Work Date <span style="color: #FF0000">*</span></label>
                    <input asp-for="Missing_Work_Date" class="form-control" type="date"/>
                    <span asp-validation-for="Missing_Work_Date" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Date Began Missing Work</label>
                    <input asp-for="Begin_Missing_Date" class="form-control" type="date"/>
                    <span asp-validation-for="Begin_Missing_Date" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Time Began Missing Work</label>
                    <input asp-for="Begin_Missing_Time" class="form-control" placeholder="11:30am"/>
                    <span asp-validation-for="Begin_Missing_Time" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Date Returned To Work (if applicable)</label>
                    <input asp-for="Return_To_Work_Date" class="form-control" type="date"/>
                    <span asp-validation-for="Return_To_Work_Date" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Doctors Work Release obtained? <span style="color: #FF0000">*</span></label>
                    <select asp-for="Doctors_Release" name="Doctors_Release" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="Doctors_Release" class="text-danger"></span>
                    <p>Do not choose Yes unless you have the work release in hand; send it to HR.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Treatment pursued/scheduled? <span style="color: #FF0000">*</span></label>
                    <select asp-for="Treatment" name="Treatment" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="Treatment" class="text-danger"></span>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <div id="treatmentQuestions">
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Method of travel to first treatment <span style="color: #FF0000">*</span></label>
                    <select asp-for="Transport_First_Treatment" name="Transport_First_Treatment" class="form-control" asp-items="@ViewBag.travelMethods"></select>
                    <span asp-validation-for="Transport_First_Treatment" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Date first treated <span style="color: #FF0000">*</span></label>
                    <input asp-for="Treatment_Date" class="form-control" type="date"/>
                    <span asp-validation-for="Treatment_Date" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Treatment Provider where first treated <span style="color: #FF0000">*</span></label>
                    <input asp-for="Treatment_Provider" class="form-control" />
                    <span asp-validation-for="Treatment_Provider" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Treatment Provider Phone <span style="color: #FF0000">*</span></label>
                    <input asp-for="Treatment_Provider_Phone" class="form-control" />
                    <span asp-validation-for="Treatment_Provider_Phone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">City/Town of first treatment <span style="color: #FF0000">*</span></label>
                    <input asp-for="Transport_City" class="form-control" />
                    <span asp-validation-for="Transport_City" class="text-danger"></span>
                </div>
                 <div class="form-group col-md-3">
                    <label class="control-label">Supervisor Name <span style="color: #FF0000">*</span></label>
                    <input asp-for="Supervisor_Name" class="form-control" />
                    <span asp-validation-for="Supervisor_Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Supervisor Phone <span style="color: #FF0000">*</span></label>
                    <input asp-for="Supervisor_Phone" class="form-control" />
                    <span asp-validation-for="Supervisor_Phone" class="text-danger"></span>
                </div>
            </div>
            <br />
            <hr />
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#treatmentQuestions').hide();
                    //When page loads check if the drop down is already yes
                    var chosenValue = $('#Treatment').val();
                    if (chosenValue == "True") {
                        $('#treatmentQuestions').show();
                    }
                    else {
                        $('#treatmentQuestions').hide();
                    }
                    //If the drop down selection changes check again
                    $('#Treatment').change(function () {
                        var selectedValue = $(this).val();
                        if (selectedValue == "True") {
                            $('#treatmentQuestions').show();
                        }
                        else {
                            $('#treatmentQuestions').hide();
                        }
                    });
                });
            </script>
            
            <br />
            <div class="form-group">
                <label class="control-label">State what job the employee was performing when injured. Describe how the injury happened. Name objects, tools, equipment or vehicles involved. For lifting injuries estimate the weight lifted. For a fall, estimate how far the worker fell. <span style="color: #FF0000">*</span></label>
                <textarea asp-for="Injury_Description" class="form-control"></textarea>
                <span asp-validation-for="Injury_Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">List relevant safety equipment in use at the time of injury.</label>
                <textarea asp-for="Equipment" class="form-control"></textarea>
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Name witnesses if any. If none, state "No witness".</label>
                <textarea asp-for="Witness" class="form-control"></textarea>
                <span asp-validation-for="Witness" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">If the injury is questioned, state why. If not, say "Not Questioned".</label>
                <textarea asp-for="Questioned" class="form-control"></textarea>
                <span asp-validation-for="Questioned" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">If there is a prior relevant medical history, mention what it is. If none known, state "None known".</label>
                <textarea asp-for="Medical_History" class="form-control"></textarea>
                <span asp-validation-for="Medical_History" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-6">
                <label class="control-label">Was the inbox submitted within 48 hours/2 business days of the injury date? <span style="color: #FF0000">*</span></label>
                <select asp-for="Inbox_Submitted" name="Inbox_Submitted" class="form-control col-md-3" asp-items="@ViewBag.options"></select>
                <span asp-validation-for="Inbox_Submitted" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" id="why">
                <label class="control-label">Why was the inbox not submitted within 48 hours/2 business days? <span style="color: #FF0000">*</span></label>
               <textarea asp-for="Inbox_Reason" class="form-control"></textarea>
                <span asp-validation-for="Inbox_Reason" class="text-danger"></span>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#why').hide();
                    //When page loads check if the drop down is already yes
                    var chosenValue = $('#Inbox_Submitted').val();
                    console.log(chosenValue);
                    if (chosenValue == "False") {
                        $('#why').show();
                    }
                    else {
                        $('#why').hide();
                    }
                    //If the drop down selection changes check again
                    $('#Inbox_Submitted').change(function () {
                        var selectedValue = $(this).val();
                        if (selectedValue == "False") {
                            $('#why').show();
                        }
                        else {
                            $('#why').hide();
                        }
                    });
                });
            </script>
            <br />
            <div class="form-group">
                <label class="control-label">Additional comments/details (optional)</label>
                <textarea asp-for="Comments" class="form-control"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <br />
            <hr />
            <br />

            <h4>Don't forget the @@wv.gov!</h4>
            <br />
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">User Email <span style="color: #FF0000">*</span></label>
                            <input asp-for="User_Email" class="form-control" />
                            <span asp-validation-for="User_Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Supervisor Email <span style="color: #FF0000">*</span></label>
                            <input asp-for="Supervisor_Email" class="form-control" />
                            <span asp-validation-for="Supervisor_Email" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Safety Specialist Email <span style="color: #FF0000">*</span></label>
                            <input asp-for="Safety_Specialist_Email" class="form-control" />
                            <span asp-validation-for="Safety_Specialist_Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Optional Email</label>
                            <input asp-for="Optional_Email" class="form-control" />
                            <span asp-validation-for="Optional_Email" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Optional Email 2</label>
                            <input asp-for="Optional_Email2" class="form-control" />
                            <span asp-validation-for="Optional_Email2" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Optional Email 3</label>
                            <input asp-for="Optional_Email3" class="form-control" />
                            <span asp-validation-for="Optional_Email3" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-1"></div>
                <div class="form-group col-md-3 box">
                    <b class="title">Email</b>
                    <hr />
                    <p>Enter your email address, a District Contact's email address, and an Occupational Safety Specialist's email address. Add optional email addresses if you are submitting the form on behalf of the designated reporter to recieve a copy.</p>
                </div>
                <br />
                <div class="row">
                        <div class="form-group col-md-4">
                        <label class="control-label">HDHR Manager Email <span style="color: #FF0000">*</span></label>
                        <input asp-for="HDHR_Manager_Email" class="form-control" />
                        <span asp-validation-for="HDHR_Manager_Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
