@model HR_App_V4.Models.DB.WC_Inbox

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WC_Inbox</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Last_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marital_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marital_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employment_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employment_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hourly_Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hourly_Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Daily_Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Daily_Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claim_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Claim_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Org_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Org_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hire_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hire_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Work_Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Work_Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injury_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injury_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injury_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injury_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOT_12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOT_12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injured_Body_Part)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injured_Body_Part)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Side)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Side)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Missing_Work)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Missing_Work)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Missing_Work_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Missing_Work_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Begin_Missing_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Begin_Missing_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Begin_Missing_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Begin_Missing_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Return_To_Work_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Return_To_Work_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctors_Release)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctors_Release)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment_Provider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment_Provider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment_Provider_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment_Provider_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport_First_Treatment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport_First_Treatment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injury_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injury_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Witness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Witness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisor_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisor_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questioned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questioned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medical_History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medical_History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inbox_Submitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inbox_Submitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inbox_Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inbox_Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisor_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Safety_Specialist_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Safety_Specialist_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Optional_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Optional_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Optional_Email2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Optional_Email2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Optional_Email3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Optional_Email3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HDHR_Manager_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HDHR_Manager_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TX_EROI_Lag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TX_EROI_Lag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claim_Ruling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Claim_Ruling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injury_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injury_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TTD_Onset_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TTD_Onset_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restricted_RTW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restricted_RTW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Full_Duty_RTW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Full_Duty_RTW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TTD_Award_Notice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TTD_Award_Notice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RTW_Notice_Carrier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RTW_Notice_Carrier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost_Time_Start1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost_Time_Start1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost_Time_End1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost_Time_End1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost_Time_Start2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost_Time_Start2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost_Time_End2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost_Time_End2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost_Time_Start3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost_Time_Start3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lost_Time_End3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lost_Time_End3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HR_Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HR_Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Add_User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Add_User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Added)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Added)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HR_User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HR_User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Modified)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
