@model IEnumerable<HR_App_V4.Models.DB.WC_Inbox>

@{
    ViewData["Title"] = "Index";
}

<h4>Open Injury Forms</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                SSN
            </th>
            <th>
                Address
            </th>
            <th>
                Org Number
            </th>
            <th>
                Job Title
            </th>
            <th>
                Injury Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Org_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Injury_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Review</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
